body {
    background: #a8d9ac;
}
#burger {
    text-align: center;
}
.title {
    color: #ebb433;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
}

textarea {
    text-align: center;
    border-radius: 10px;
}

#submit {
    background: #a8d9ac;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    width: 150px;
    margin-top: 15px;
    border-radius: 10px;
}

#submit:hover {
    background: #ebb433;
}